<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Bootstrap  -->
    <!-- CSS Styles  -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- CSS Styles  -->
    <title>Document</title>

</head>


<body>
    <!-- Nav Bar  -->
    <nav class="container-fluid p-0">
        <div class="nav-wrapper">
            <div class="logo">
                <img src="img/Logo.png" alt="">
            </div>
            <div class="links">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="book_a_ride.html">Book a Ride</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="login-wrapper">
                <a href="login.html" class="login">Login</a>
                <a href="/signup" class="Signup">Sign Up</a>
            </div>
        </div>
    </nav>
    <!-- Nav End -->

    <!-- Home banner -->
    <div class="content">
        <div class="container-fluid p-0 banner">
            <img src="img/Home-banner.png" alt="">
            <div class="row banner-content">
                <h1>Book your ride with us today - fast, reliable and trust worthy.</h1>
                <p>Book with us, ride with ease!</p>
                <a href="">Get Started</a>

            </div>
        </div>
    </div>
    <!-- Home banner end -->

    <!--first section start-->
    <div class="content1">
        <h3>Learn more about us</h3>
        <div class="grid-container">
          <div class="grid-item">
            <img src="img/Home-banner2.png" alt="">
          </div>
          <div class="grid-item">
            <div class="grid-content">
                <p>Druk Taxi is a software development project aimed at addressing the challenges faced by the taxi industry in recent times. With the introduction of city bus systems, the flaws of the industry have become more apparent, resulting in a decline in its use.</p>
                <button class="btn">Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <!--first section end-->

      <!--second section start-->
      <div class="content2">
        <h3>Register as our driver today!</h3>
        <div class="grid-container2">
          <div class="grid-term1">
            <p>Through this platform, passengers will have access to a wider network of taxi drivers, reducing the time and cost involved in finding a suitable ride. The project seeks to make the taxi industry more competitive in the face of increasing competition from other transportation services.</p>
            <button class="btn1">Register</button>
          </div>
          <div class="grid-item1">
            <img src="img/Home-banner3.png" alt="">
          </div>
        </div>
      </div>
      <!--second section end-->

      <!--third section start-->
      <div class="content3">
        <h3>Testimonials</h3>
        <div class="grid-container3">
          <div class="grid-item3">
            <img src="img/Home-banner4.png" alt="">
          </div>
          <div class="grid-item3">
            <p>It is very convenient during  bad weather or in areas with limited taxi availability.</p><br>
            <p>Time saving, avoiding waiting in long line or wasting time trying to hail a taxi on the street.</p><br>
            <p>Improved safety for both passengers and drivers.</p>
          </div>
        </div>
      </div>
      <!--third section end-->

      <!--fourth section start-->
      <div class="statistics-section">
        <div class="statistics-container">
          <div class="statistic">
            <h3>1500+</h3>
            <p>Drivers</p>
          </div>
          <div class="statistic">
            <h3>300+</h3>
            <p>Users</p>
          </div>
          <div class="statistic">
            <h3>10+</h3>
            <p>Communities</p>
          </div>
        </div>
      </div>





    <!-- Footer -->
    <footer>
        <section class="footer">
            <img src="img/Logo.png" alt="Logo" class="type2">
    
            <ul class="list">
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Book a Ride</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook" style="color: #e3e3e3;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color: #e3e3e3;"></i></a>
                <a href="#"><i class="fa-brands fa-youtube" style="color: #e3e3e3;"></i></a>
                <a href="#"><i class="fa-brands fa-twitter" style="color: #e3e3e3;"></i></a>
            </div>
            <p class="copyright">
                Copyright@DrukTaxi
            </p>
        </section>

    </footer>
    <!-- Footer End  -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
</body>

</html>