.banner-content{
    position: relative;
    display: flex;
    align-items: center;
    height: calc(50vh - 50px);
    background-color:white;
    color: black;

}
.button{
  align-items: center;
  margin-left: 12cm;

}

.btn-1{
  background-color: #FE6430;
  color: white;
  padding: 7px 50px 7px 50px ;
  border-radius: 10px;
  border: none;
}
.btn-2{
  background-color: #070707;
  color: white;
  padding: 7px 67px 7px 67px ;
  border-radius: 10px;
  border: none;

}
.row img{
  width: 650px;
  padding-left: 84px;
  
}
.row h4{
  padding-left: 95px;

}
.col-2{
  align-items: right;
  margin-left: 18cm;
  
  
}

.column {
  float: left;
  width: 50%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  display: flex;
}
.btn-3{
  background-color: #FE6430;
  color: white;
  padding-right: 5cm;
  border-radius: 10px;
  border: none;
  text-align: center;
}

